---
---

@import "{{ site.theme }}";

header {
	background: #323da1;
	h1 {
		color: #ffffff;
	}

  	p {
		font: unset;
    		color: #ffffff;
  	}
}

#banner {
	background: #62a4de;
	border: 1px solid #f0b500;
}

body {
    font: unset;
    color: #000000;
}


.fork {
	background-color: #ffffff;
}


