---
---

@import "{{ site.theme }}";

header {
	background: #323da1;
	h1 {
		color: #000000;
	}

  	p {
		font: unset;
    		color: #ffffff;
  	}
}

#banner {
	background: #62a4de;
}

body {
    font: unset;
    color: #000000;
}



