---
---

@import "{{ site.theme }}";

header {
	background: #D8AB4C;
	h1 {
		color: #000000;
	}

  	p {
    		color: #ffffff;
  	}
}

#banner {
	background: #62a4de;
}

body {
    font: unset;
    color: #000000;
}



